<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/content/login.css">
    <link rel="stylesheet" type="text/css" href="/content/bootstrap.css">
</head>
<body>
<div class="body-content">
<div class="row">
    <div align="center" class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-centered">
        <div class="login-dp">
            <div class="col-md-12 col-sm-12 col-lg-12 espacado">
                <h4>Login via</h4>
                <div class="social-buttons"> 
                    <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                    <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                <h4>ou</h4> 
                <form class="form" href="#" accept-charset="UTF-8" id="login-form">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail2">Email ou Apelido</label>
                        <input type="email" class="form-control" id="user" placeholder="Email ou Apelido" required>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword2">Senha</label>
                        <input type="password" class="form-control" id="password" placeholder="Senha" required>
                        <div class="help-block text-right"><a href="">Esqueceu sua senha ?</a></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="keep-logged">
                        </label>
                        <h5>Mantenha-me logado</h5>
                    </div>
                </form>
            </div>
            <div class="bottom text-center">
                <h5>Não tem cadastro ? <a href="#"><b>Cadastre-se</b></a></h5>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/scripts/jquery-1.10.2.js"></script>
<script src="/scripts/modernizr-2.6.2.js"></script>
<script src="/scripts/bootstrap.js"></script>
<script src="/scripts/respond.js"></script>
<script src="/scripts/paginas/login/login.js"></script>
</body>
</html>